body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:575px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u86_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u86 {
  position:absolute;
  left:200px;
  top:11px;
  width:375px;
  height:667px;
}
#u87 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:48px;
  background:inherit;
  background-color:rgba(174, 174, 174, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u88 {
  position:absolute;
  left:201px;
  top:12px;
  width:373px;
  height:48px;
}
#u89 {
  position:absolute;
  left:2px;
  top:16px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:14px;
}
#u90 {
  position:absolute;
  left:214px;
  top:34px;
  width:6px;
  height:14px;
}
#u91 {
  position:absolute;
  left:2px;
  top:-1px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u92 {
  position:absolute;
  left:224px;
  top:34px;
  width:25px;
  height:14px;
  font-size:12px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u94_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u94 {
  position:absolute;
  left:316px;
  top:33px;
  width:145px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u96_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u96 {
  position:absolute;
  left:546px;
  top:29px;
  width:16px;
  height:21px;
  font-size:18px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u98 {
  position:absolute;
  left:201px;
  top:79px;
  width:373px;
  height:1px;
}
#u99 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u100 {
  position:absolute;
  left:201px;
  top:119px;
  width:373px;
  height:1px;
}
#u101 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u102 {
  position:absolute;
  left:201px;
  top:160px;
  width:373px;
  height:1px;
}
#u103 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(174, 174, 174, 0.498039215686275);
}
#u104 {
  position:absolute;
  left:214px;
  top:95px;
  width:96px;
  height:14px;
  font-size:12px;
  color:rgba(174, 174, 174, 0.498039215686275);
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
}
#u106 {
  position:absolute;
  left:214px;
  top:136px;
  width:96px;
  height:14px;
  font-size:12px;
  color:#1E1E1E;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:33px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u108 {
  position:absolute;
  left:212px;
  top:360px;
  width:348px;
  height:33px;
}
#u109 {
  position:absolute;
  left:2px;
  top:8px;
  width:344px;
  word-wrap:break-word;
}
#u110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:33px;
  background:inherit;
  background-color:rgba(174, 174, 174, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(134, 134, 134, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u110 {
  position:absolute;
  left:212px;
  top:403px;
  width:348px;
  height:33px;
}
#u111 {
  position:absolute;
  left:2px;
  top:8px;
  width:344px;
  word-wrap:break-word;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u112 {
  position:absolute;
  left:370px;
  top:630px;
  width:35px;
  height:35px;
}
#u113 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
}
#u114 {
  position:absolute;
  left:544px;
  top:136px;
  width:30px;
  height:14px;
  font-size:12px;
  color:#1E1E1E;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u116 {
  position:absolute;
  left:201px;
  top:180px;
  width:373px;
  height:1px;
}
#u117 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u118 {
  position:absolute;
  left:201px;
  top:220px;
  width:373px;
  height:1px;
}
#u119 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u120 {
  position:absolute;
  left:201px;
  top:261px;
  width:373px;
  height:1px;
}
#u121 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(174, 174, 174, 0.498039215686275);
}
#u122 {
  position:absolute;
  left:214px;
  top:196px;
  width:96px;
  height:14px;
  font-size:12px;
  color:rgba(174, 174, 174, 0.498039215686275);
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(174, 174, 174, 0.498039215686275);
}
#u124 {
  position:absolute;
  left:214px;
  top:237px;
  width:96px;
  height:14px;
  font-size:12px;
  color:rgba(174, 174, 174, 0.498039215686275);
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u126 {
  position:absolute;
  left:462px;
  top:225px;
  width:100px;
  height:30px;
}
#u127 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u128 {
  position:absolute;
  left:201px;
  top:300px;
  width:373px;
  height:1px;
}
#u129 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u130 {
  position:absolute;
  left:201px;
  top:341px;
  width:373px;
  height:1px;
}
#u131 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(174, 174, 174, 0.498039215686275);
}
#u132 {
  position:absolute;
  left:214px;
  top:272px;
  width:236px;
  height:14px;
  font-size:12px;
  color:rgba(174, 174, 174, 0.498039215686275);
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  word-wrap:break-word;
}
#u134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(174, 174, 174, 0.498039215686275);
}
#u134 {
  position:absolute;
  left:214px;
  top:317px;
  width:96px;
  height:16px;
  font-size:12px;
  color:rgba(174, 174, 174, 0.498039215686275);
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.176470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u136 {
  position:absolute;
  left:201px;
  top:160px;
  width:373px;
  height:20px;
}
#u137 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.176470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u138 {
  position:absolute;
  left:201px;
  top:60px;
  width:373px;
  height:20px;
}
#u139 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:224px;
  top:317px;
  width:237px;
  height:16px;
}
#u141 {
  position:absolute;
  left:16px;
  top:0px;
  width:219px;
  word-wrap:break-word;
}
#u140_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
