body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1050px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u799 {
  position:absolute;
  left:50px;
  top:590px;
  width:990px;
  height:130px;
}
#u800 {
  position:absolute;
  left:2px;
  top:48px;
  width:986px;
  word-wrap:break-word;
}
#u801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:31px;
}
#u801 {
  position:absolute;
  left:444px;
  top:660px;
  width:203px;
  height:31px;
}
#u802 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:460px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u803 {
  position:absolute;
  left:50px;
  top:120px;
  width:1000px;
  height:460px;
}
#u804 {
  position:absolute;
  left:2px;
  top:222px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.776470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u805 {
  position:absolute;
  left:50px;
  top:0px;
  width:1000px;
  height:110px;
}
#u806 {
  position:absolute;
  left:2px;
  top:47px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u807 {
  position:absolute;
  left:80px;
  top:40px;
  width:130px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u808 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u809 {
  position:absolute;
  left:730px;
  top:48px;
  width:80px;
  height:17px;
}
#u810 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u811 {
  position:absolute;
  left:900px;
  top:48px;
  width:80px;
  height:17px;
}
#u812 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u813 {
  position:absolute;
  left:390px;
  top:48px;
  width:80px;
  height:17px;
}
#u814 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:969px;
  height:2px;
}
#u815 {
  position:absolute;
  left:50px;
  top:210px;
  width:968px;
  height:1px;
}
#u816 {
  position:absolute;
  left:2px;
  top:-8px;
  width:964px;
  visibility:hidden;
  word-wrap:break-word;
}
#u817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:969px;
  height:2px;
}
#u817 {
  position:absolute;
  left:50px;
  top:259px;
  width:968px;
  height:1px;
}
#u818 {
  position:absolute;
  left:2px;
  top:-8px;
  width:964px;
  visibility:hidden;
  word-wrap:break-word;
}
#u819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:39px;
}
#u819 {
  position:absolute;
  left:52px;
  top:281px;
  width:40px;
  height:39px;
}
#u820 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u821 {
  position:absolute;
  left:60px;
  top:224px;
  width:80px;
  height:17px;
}
#u822 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u823 {
  position:absolute;
  left:217px;
  top:224px;
  width:80px;
  height:17px;
}
#u824 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u825 {
  position:absolute;
  left:335px;
  top:224px;
  width:80px;
  height:17px;
}
#u826 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u827 {
  position:absolute;
  left:450px;
  top:224px;
  width:80px;
  height:17px;
}
#u828 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u829 {
  position:absolute;
  left:960px;
  top:227px;
  width:80px;
  height:17px;
}
#u830 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u831 {
  position:absolute;
  left:550px;
  top:224px;
  width:80px;
  height:17px;
}
#u832 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u833 {
  position:absolute;
  left:640px;
  top:224px;
  width:80px;
  height:17px;
}
#u834 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u835 {
  position:absolute;
  left:98px;
  top:292px;
  width:130px;
  height:17px;
}
#u836 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u837 {
  position:absolute;
  left:230px;
  top:292px;
  width:60px;
  height:17px;
}
#u838 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u839 {
  position:absolute;
  left:320px;
  top:292px;
  width:100px;
  height:17px;
}
#u840 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3366FF;
}
#u841 {
  position:absolute;
  left:960px;
  top:292px;
  width:60px;
  height:17px;
  color:#3366FF;
}
#u842 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:969px;
  height:2px;
}
#u843 {
  position:absolute;
  left:52px;
  top:337px;
  width:968px;
  height:1px;
}
#u844 {
  position:absolute;
  left:2px;
  top:-8px;
  width:964px;
  visibility:hidden;
  word-wrap:break-word;
}
#u845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:39px;
}
#u845 {
  position:absolute;
  left:52px;
  top:352px;
  width:40px;
  height:39px;
}
#u846 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u847 {
  position:absolute;
  left:98px;
  top:363px;
  width:130px;
  height:17px;
}
#u848 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u849 {
  position:absolute;
  left:230px;
  top:363px;
  width:60px;
  height:17px;
}
#u850 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:969px;
  height:2px;
}
#u851 {
  position:absolute;
  left:52px;
  top:408px;
  width:968px;
  height:1px;
}
#u852 {
  position:absolute;
  left:2px;
  top:-8px;
  width:964px;
  visibility:hidden;
  word-wrap:break-word;
}
#u853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:39px;
}
#u853 {
  position:absolute;
  left:52px;
  top:423px;
  width:40px;
  height:39px;
}
#u854 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u855 {
  position:absolute;
  left:98px;
  top:434px;
  width:130px;
  height:17px;
}
#u856 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u857 {
  position:absolute;
  left:230px;
  top:434px;
  width:60px;
  height:17px;
}
#u858 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:969px;
  height:2px;
}
#u859 {
  position:absolute;
  left:52px;
  top:479px;
  width:968px;
  height:1px;
}
#u860 {
  position:absolute;
  left:2px;
  top:-8px;
  width:964px;
  visibility:hidden;
  word-wrap:break-word;
}
#u861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u861 {
  position:absolute;
  left:60px;
  top:135px;
  width:80px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u862 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u863 {
  position:absolute;
  left:132px;
  top:167px;
  width:88px;
  height:33px;
}
#u863_input {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u863_input:disabled {
  color:grayText;
}
#u864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u864 {
  position:absolute;
  left:60px;
  top:174px;
  width:80px;
  height:17px;
}
#u865 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u866 {
  position:absolute;
  left:320px;
  top:363px;
  width:100px;
  height:17px;
}
#u867 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3366FF;
}
#u868 {
  position:absolute;
  left:960px;
  top:363px;
  width:60px;
  height:17px;
  color:#3366FF;
}
#u869 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3366FF;
}
#u870 {
  position:absolute;
  left:960px;
  top:434px;
  width:60px;
  height:17px;
  color:#3366FF;
}
#u871 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u872 {
  position:absolute;
  left:320px;
  top:434px;
  width:100px;
  height:17px;
}
#u873 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u874 {
  position:absolute;
  left:450px;
  top:292px;
  width:100px;
  height:17px;
}
#u875 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u876 {
  position:absolute;
  left:540px;
  top:0px;
  width:140px;
  height:130px;
}
#u877 {
  position:absolute;
  left:2px;
  top:57px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u878 {
  position:absolute;
  left:586px;
  top:70px;
  width:80px;
  height:17px;
}
#u879 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u880 {
  position:absolute;
  left:586px;
  top:97px;
  width:80px;
  height:17px;
}
#u881 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:8px;
}
#u882 {
  position:absolute;
  left:648px;
  top:48px;
  width:12px;
  height:8px;
}
#u883 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u884 {
  position:absolute;
  left:586px;
  top:43px;
  width:59px;
  height:17px;
}
#u885 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u886 {
  position:absolute;
  left:720px;
  top:224px;
  width:80px;
  height:17px;
}
#u887 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u888 {
  position:absolute;
  left:929px;
  top:170px;
  width:89px;
  height:30px;
}
#u889 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  word-wrap:break-word;
}
#u890 {
  position:absolute;
  left:312px;
  top:167px;
  width:88px;
  height:33px;
}
#u890_input {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u890_input:disabled {
  color:grayText;
}
#u891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u891 {
  position:absolute;
  left:240px;
  top:174px;
  width:80px;
  height:17px;
}
#u892 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u893 {
  position:absolute;
  left:840px;
  top:224px;
  width:80px;
  height:17px;
}
#u894 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u895 {
  position:absolute;
  left:847px;
  top:292px;
  width:80px;
  height:17px;
}
#u896 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u897 {
  position:absolute;
  left:847px;
  top:363px;
  width:76px;
  height:17px;
  color:#BCBCBC;
}
#u898 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u899 {
  position:absolute;
  left:450px;
  top:363px;
  width:100px;
  height:17px;
}
#u900 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u901 {
  position:absolute;
  left:450px;
  top:434px;
  width:100px;
  height:17px;
}
#u902 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u903 {
  position:absolute;
  left:543px;
  top:284px;
  width:65px;
  height:33px;
}
#u904 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u905 {
  position:absolute;
  left:630px;
  top:292px;
  width:100px;
  height:17px;
}
#u906 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u907 {
  position:absolute;
  left:720px;
  top:292px;
  width:100px;
  height:17px;
}
#u908 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:33px;
}
#u909 {
  position:absolute;
  left:420px;
  top:166px;
  width:188px;
  height:33px;
  font-size:12px;
  color:#A1A1A1;
}
#u910 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u911 {
  position:absolute;
  left:618px;
  top:168px;
  width:82px;
  height:30px;
}
#u912 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
#u913 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u914 {
  position:absolute;
  left:312px;
  top:529px;
  width:30px;
  height:30px;
}
#u915 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u916 {
  position:absolute;
  left:632px;
  top:536px;
  width:53px;
  height:17px;
}
#u917 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u918 {
  position:absolute;
  left:347px;
  top:529px;
  width:30px;
  height:30px;
}
#u919 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u920 {
  position:absolute;
  left:382px;
  top:529px;
  width:30px;
  height:30px;
}
#u921 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u922 {
  position:absolute;
  left:692px;
  top:530px;
  width:71px;
  height:30px;
}
#u922_input {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u922_input:disabled {
  color:grayText;
}
#u923 {
  position:absolute;
  left:771px;
  top:529px;
  width:37px;
  height:30px;
}
#u923_input {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:30px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u924 {
  position:absolute;
  left:816px;
  top:529px;
  width:55px;
  height:30px;
}
#u925 {
  position:absolute;
  left:2px;
  top:7px;
  width:51px;
  word-wrap:break-word;
}
#u926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u926 {
  position:absolute;
  left:417px;
  top:529px;
  width:30px;
  height:30px;
}
#u927 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u928 {
  position:absolute;
  left:452px;
  top:529px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u929 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u930 {
  position:absolute;
  left:487px;
  top:529px;
  width:30px;
  height:30px;
}
#u931 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u932 {
  position:absolute;
  left:522px;
  top:529px;
  width:30px;
  height:30px;
}
#u933 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u934 {
  position:absolute;
  left:557px;
  top:529px;
  width:30px;
  height:30px;
}
#u935 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u936 {
  position:absolute;
  left:592px;
  top:529px;
  width:30px;
  height:30px;
}
#u937 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:290px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u938 {
  position:absolute;
  left:50px;
  top:750px;
  width:590px;
  height:290px;
}
#u939 {
  position:absolute;
  left:2px;
  top:137px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:2px;
}
#u940 {
  position:absolute;
  left:50px;
  top:787px;
  width:590px;
  height:1px;
}
#u941 {
  position:absolute;
  left:2px;
  top:-8px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u942 {
  position:absolute;
  left:615px;
  top:760px;
  width:20px;
  height:16px;
}
#u943 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u944 {
  position:absolute;
  left:60px;
  top:760px;
  width:100px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u945 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:2px;
}
#u946 {
  position:absolute;
  left:52px;
  top:990px;
  width:590px;
  height:1px;
}
#u947 {
  position:absolute;
  left:2px;
  top:-8px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u948 {
  position:absolute;
  left:246px;
  top:1001px;
  width:106px;
  height:30px;
}
#u949 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  word-wrap:break-word;
}
#u950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u950 {
  position:absolute;
  left:362px;
  top:1001px;
  width:106px;
  height:30px;
}
#u951 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  word-wrap:break-word;
}
#u952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u952 {
  position:absolute;
  left:88px;
  top:818px;
  width:80px;
  height:17px;
}
#u953 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u954 {
  position:absolute;
  left:50px;
  top:1050px;
  width:106px;
  height:30px;
}
#u955 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  word-wrap:break-word;
}
#u956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u956 {
  position:absolute;
  left:148px;
  top:818px;
  width:100px;
  height:17px;
}
#u957 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u958 {
  position:absolute;
  left:60px;
  top:845px;
  width:100px;
  height:17px;
}
#u959 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u960 {
  position:absolute;
  left:149px;
  top:845px;
  width:100px;
  height:17px;
}
#u961 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u962 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u963 {
  position:absolute;
  left:74px;
  top:878px;
  width:71px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u964 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:108px;
}
#u965 {
  position:absolute;
  left:146px;
  top:872px;
  width:244px;
  height:108px;
  font-size:12px;
  color:#A1A1A1;
  text-align:left;
}
#u966 {
  position:absolute;
  left:2px;
  top:47px;
  width:240px;
  word-wrap:break-word;
}
